/* switch logos if light mode */
@media (prefers-color-scheme: light) {
    .app-name-link img, .logo {
        content: var(--docsify_logo_url, url('https://raw.githubusercontent.com/Zaeems/iMS-User-Scripts/main/iMS_Light_Mode.svg'));
    }
}
/* switch logos if dark mode */
@media (prefers-color-scheme: dark) {
    .app-name-link img, .logo {
        content: var(--docsify_logo_url, url('https://raw.githubusercontent.com/Zaeems/iMS-User-Scripts/main/iMS_Dark_Mode.svg'));
    }
}
/* navbar styling on larger screens */
@media screen and (min-width: 768px) {
    nav {
        display: inline-flex;
        padding-left: 15px;
        padding-right: 15px;
    }
    .app-nav {
        left: 100%;
    }
}
/* end of media queries */

/* makes sidebar logo smaller */
.app-name-link img {
    height: 3rem;
}

/* positions light/dark mode switch */
#docsify-darklight-theme {
    position: fixed;
    right: 1vw;
    top: 30px;
    z-index: 20;
}

/* prevents navbar from spilling */
.app-nav ul {
    overflow: hidden;
    max-height:  27.2px;
}

/* style table */
td {
    vertical-align: top;
}

/* style list */
ol {
    text-align: left;
}

.logo {
  margin-top: 28px;
}

.sidebar-toggle-button {
  margin-top: 28px;
}